/*
*   Styles that will be applied to forms and their inputs
*/

.form-control {
    &.loading {
        background-color: #ffffff;
        background-image: url("/images/spinning_loading.gif");
        background-size: 25px 25px;
        background-position:right center;
        background-repeat: no-repeat;
    }
}

.invalid-feedback {
    text-transform: capitalize;
}
