/*
*   Header Styles
*/
.top-navbar {
    height: $header-height;
    margin: 0;
    padding: 0;
    .navbar-logo-wrapper {
        height: 100%;
        @media (min-width: $brk-md) {
            width: $navbar-width;
        }
        .navbar-logo {
            margin: auto;
            img {
                max-height: $header-height - 20;
            }
        }
    }
    .navbar-data {
        padding-right: 5px;
        font-size: 1.2rem;
    }
}
