@import 'reset';
@import 'variables';

/*
*   Bootstrap Library
*/
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-vue/dist/bootstrap-vue.css';

/*
*   Fonts
*/
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

/*
*   Theme Style Variables
*/
$default-font-size: .875rem;
$soft-border: 1px solid rgba(0,0,0,.06);
$header-height: 70px;
$navbar-width: 237px;
$navbar-background: #dddce1;
$navbar-link-color: #5f5f5f;
$content-background: #dddce1;
$footer-background: #dddce1;

/*
*   Section Styles
*/
@import 'typography';
@import "body";
@import "header";
@import "navbar";
@import "content";
@import "footer";

@import "form";
@import "fileUpload";

//  Additional Styles
@import "customerNotes";
// @import 'custom';
// @import 'fileDrag';

