@import '../app.scss';

/*
*   Theme Style Variables
*/
$default-font-size : .875rem;
$soft-border       : 1px solid rgba(0,0,0,.15);
$header-height     : 70px;
$header-background : #ffffff;
$navbar-width      : 237px;
$navbar-background : #ffffff;
$navbar-link-color : #5f5f5f;
$content-background: #dddce1;
$footer-background : #dddce1;

/*
*   Primary Section Styles
*/
// @import 'Template/body';
@import 'Template/header';
@import "Template/navbar";
@import "Template/content";
// @import "Template/footer";
// @import "Template/transitions";
