body div.guest-layout {

    height: 100%;

    & {
        background: #090321;
        background: -moz-linear-gradient(-45deg, #090321 0%, #424242 50%, #5E5453 100%);
        background: -webkit-linear-gradient(-45deg, #090321 0%, #424242 50%, #5E5453 100%);
        background: linear-gradient(135deg, #090321 0%, #424242 50%, #5E5453 100%);
        background-attachment: fixed;
        min-height: 100vh;
    }

    h1, h2, h3, h4, h5 {
        color: #FFFFFF;
    }
}
