#  The .env file contains configuration data specific to your environment.
#  The settings can be changed as needed to match your environment
#  Settings that have been commented out are settings that are not necessary,
#  but can be adjusted if necessary
#
#  VERY IMPORTANT:  In order for these settings to be applied, after saving the file,
#  from the Web Root directory, run the command:  'php artisan config:cache'
#
#  USE CAUTION WHEN CHANGING SETTINGS ON A LIVE SYSTEM
#  INCORRECT SETTINGS COULD CAUSE THE APPLICATION TO CRASH

#  Primary Application Settings
#  The APP_KEY is the encryption key for all application encryption and hashing.
#  Modifying this setting could negitavely impact the user experience, however:
#  IMPORTANT NOTE:  IT IS IMPORTANT TO MODIFY THIS KEY WHEN INSTALLING TECH BENCH FOR THE FIRST TIME!!!!!!!!!
#  USING THE DEFAULT KEY IS VERY INSECURE
APP_KEY=base64:jZ4t3vJLWff1TXMjQhGmEBUosQFr0Ec0qbXM2hIwgwM=

#  Uncomment and Modify the LOG_CHANNEL variable in order to increase or decrease the level of
#  logging that is done by the Tech Bench application.  Valid inputs are in order of least
#  amount of data gathered to the most amount of data gathered:
#  1 -> emergency
#  2 -> alert
#  3 -> critical
#  4 -> error
#  5 -> warning
#  6 -> notice
#  7 -> info
#  8 -> debug
#  LOG_CHANNEL=debug

#  For advanced troubleshooting, uncomment the APP_DEBUG line and set to true
#  Setting this variable to true will cause error information to be printed to
#  the user on the web browser.
#  For security purposes, only turn this option on if absolutly necessary.
#  Be sure to turn it back off when troubleshooting is completed
#  APP_DEBUG=true

#  The APP_URL is the url that is used for all hyperlinks both in the application
#  and in emails.
APP_URL=http://localhost

#  Database Connection Settings
#  The Tech Bench uses these settings for all database queries
#  Do not modify unless you are sure that the settings are correct and need to be changed
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=tech-bench
DB_USERNAME=root
DB_PASSWORD=

#  By default application files are stored int he WebRoot/storage/app directory
#  To change this location, uncomment the lines below and modify as needed
#  Be sure to make the assigned folders writable by the web_root user

# ROOT_FOLDER="/path/to/doc/root"
# DFLT_FOLDER="/default"
# SYS_FOLDER="/systems"
# CUST_FOLDER="/customers"
# USER_FOLDER="/users"
# TIP_FOLDER="/tips"
# LINK_FOLDER="/links"
# COMP_FOLDER="/company"
# MAX_UPLOAD=2147483648
