/node_modules
/public/hot
/public/storage
/public/js/skins
/storage/*.key
/storage/debugbar
/vendor
/.vs
/.vscode
/patches
/packages
/report
/tests/_Report/
public/mix-manifest.json
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
modules_statuses.json
