.env
.env.backup
.env.production
.phpunit.result.cache
.vscode
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
version.txt
yarn-error.log
/.fleet
/.idea
/.phpunit.cache
/.vscode
/keystore
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/tests/_report
/vendor