/node_modules
/public/hot
/public/storage
/public/js/skins
/storage/*.key
/vendor
/.vs
/.vscode
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/patches
/packages
/report
/tests/_Report/
modules_statuses.json
