#auth-layout-container {
    height: 100vh;
    margin-top: auto;
    #auth-layout-sub-container {
        .col {
            background-color: #ffffff;
            color: #000000;
            border: none;
            // height: 100%;

            #header-logo {
                display: block;
                @extend .center;
                padding: 2em;
                border-radius: 5px;
                max-width: 90%;
            }

            form {
                margin-top: auto;
                .form-group label {
                    display: none !important;
                }
                .form-group input {
                    border: none;
                    border-bottom: 1px solid #ced4da;
                }
            }
        }
    }
}
