#header-title {
    background: none;
    text-align: center;
}

#header-logo {
    display: block;
    @extend .center;
    padding: 2em;
    border-radius: 5px;
    max-width: 90%;
}

.login-form-container {
    height: 100vh;
    .login-form-sub-container {
        background-color: #ffffff;
        border-radius: 5px;
        color: #000000;
        min-height: 300px;
        form {
            .form-group label {
                display: none !important;
            }
            .form-group input {
                border: none;
                border-bottom: 1px solid #ced4da;
            }
        }
    }
}
