$grid-breakpoints: (
    xs: 0,
    //  Default 0
    sm: 600px,
    //  Default 576
    md: 1008px,
    //  Default 768
    lg: 1200px,
    //  Default 992
    xl: 1284px,
    //  Default 1200
    xxl: 1620px,
    //  Default 1400
);

$container-max-widths: (
    sm: 540px,
    // Default 5540
    md: 720px,
    // Default 720
    lg: 960px,
    // Default 960
    xl: 1140px,
    // Default 1140
    xxl: 1320px,
    // Default 1320
);

$brk-xs: map-get($grid-breakpoints, xs);
$brk-sm: map-get($grid-breakpoints, sm);
$brk-md: map-get($grid-breakpoints, md);
$brk-lg: map-get($grid-breakpoints, lg);
$brk-xl: map-get($grid-breakpoints, xl);
$brk-xxl: map-get($grid-breakpoints, xxl);
