/*
*   Reset all styles to my liking
*/
@import "reset";

/*
*   Bootstrap and add-ons for Bootstrap
*/
@import "bootstrap";

/*
*   Override Bootstrap's default breakpoints
*/
@import "global_variables";

/**
*   Set all main elements to full height to allow better layout control
*/
html {
    min-height: 100%;
    height: 100%;

    body {
        min-height: 100%;
        height: 100%;

        #app {
            min-height: 100%;
            height: 100%;
        }
    }
}

/**
* Add "status" alert to possible alert types
*/
.alert-status {
    background-color: #1f0683;
    color: #ffffff;
}

/**
* Separation line with text in middle
*/
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;

    &::before,
    &::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #7b7a7a;
    }

    &:not(:empty)::before {
        margin-right: 0.25em;
    }

    &:not(:empty)::after {
        margin-left: 0.25em;
    }
}
