html {
    position: relative;
    min-height: 100vh;
}

body {
    overflow-x: hidden
}

#main-nav {
    background: $header-background;
    color: $nav-link-color;
    padding: 0;
    z-index: auto;
    a {
        color: $nav-link-color;
        padding: 1rem;
    }
}

.navbar-nav {
    background: $side-nav-background;
}

.nav-link.dropdown-toggle {
    text-transform: uppercase;
    &:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f07b";
        padding-right: 8px;
    }
}

.content-wrapper {
    padding-top: 1rem;
    min-height: calc(100vh - (#{$header-height} * 2));
}

footer.sticky-footer {
    position: absolute;
    bottom: 0;
    height: $header-height;
    background-color: #e9ECEF;
    line-height: 55px;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    #main-nav {
        padding: 0.5rem 1rem;
        height: $header-height;
        .navbar-brand {
            border-right: 1px ridge #706C6C;
            width: $side-nav-width;
            text-align: center;
        }
    }
    
    #top-nav {
        background: $header-background !IMPORTANT;
    }
    
    #side-nav {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        width: calc(#{$side-nav-width} + 1rem);
        margin-top: $header-height;
        padding-left: 2rem;
        paddint-top: 2rem;
        background: $side-nav-background;
        height: calc(100vh - #{$header-height});
        .nav-link-text {
            font-size: 0.9rem;
            text-transform: uppercase;
        }
    }
    
    .content-wrapper {
        margin-left: $side-nav-width;
        padding: 2rem;
    }
    
    footer.sticky-footer {
        width: calc(100% - #{$side-nav-width});
        margin-left: calc(#{$side-nav-width} + 1rem);
    }
}
