// Variables and app body styles
@import "variables";
@import "app_body";

// Third Party Libraries
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import '~font-awesome/scss/font-awesome';
@import '~vue2-dropzone/dist/vue2Dropzone.min.css';
@import '~vue-good-table/dist/vue-good-table.css';
@import '~vue-multiselect/dist/vue-multiselect.min.css';

//  Shared styles between all layouts
@import 'fileDrag';

//.category-button {
//    font-weight: bold;
//    text-decoration: none;
//    color: #000;
//}

/*
*    Dashboard Styles
*/
//  Dashboard Bookmarks
.bookmark-card {
    background: #e2e2e2;
    background: -moz-linear-gradient(#17a2b8, #49d3e9, #8ee4f1); 
    background: -webkit-linear-gradient(#17a2b8, #49d3e9, #8ee4f1); 
    background: linear-gradient(#17a2b8, #49d3e9, #8ee4f1); 
    border: none;

    -webkit-box-shadow: 5px 5px #bceef6;
       -moz-box-shadow: 5px 5px #bceef6;
            box-shadow: 5px 5px #bceef6;    
    .card-body {
        .card-body-icon {
            position: absolute;
            z-index: 0;
            top: -25px;
            right: -25px;
            font-size: 5rem;
            -webkit-transform: rotate(15deg);
                -ms-transform: rotate(15deg);
                    transform: rotate(15deg);
        }
    }
}

//  Bookmark Styles
.bookmark-unchecked {
    color: #C4C4C4;
    @extend .pointer;
}

.bookmark-checked {
    color: #D46E70;
    @extend .pointer;
}

/*
*    Customer Styles
*/
//  Hide the duplicate system notification
//#show-duplicates {
//    display: none;
//}

//  Compact the customer system data list a little more
//.tab-pane dd {
//    margin: 0;
//}

//  Hide and show any sensitive fields in the customer system information
.password-field {
    > .password-shown {
        display: none;
    }
    &:hover {
        .password-hidden {
            display: none;
        }
        .password-shown {
            display: inline;
        }
    }
}

//  Customer Note
.customer-note-card {
    .card {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .card-header {
            @extend .pointer;
        }
        .card-body {
            max-height: 50px;
        }
        .card-footer {
            display: none;
        }
    }
}

.bigger-note {
    height: 500px;
    overflow-y: scroll;
}

//  Modified Fast Select Classes
//.fstElement {
//    width: 100%;
//    font-size: 0.75em;
//    overflow: visible;
//    border-radius: 5px;
//    .fstControls {
//        width: 100%;
//        min-height: 4em;
//        overflow: visible;
//    }
//}

/*
*    Tech Tip Styles
*/

.tip-results-wrapper {
    border-bottom: 1px solid #dee2e6;
//    height: 100px;
//    overflow: hidden;
    padding-bottom: 2em;
    padding-top: 1em;
    h6 {
        margin-left: 1em;
    }
    .tip-details-wrapper {
        height: 100px;
        overflow: hidden;
        margin-left: 2em;
    }
}

@media(min-width: 992px) {
    #tech-tip-search-form {
        #tech-tip-sidebar {
            float: left;
            -webkit-flsex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            padding-top: 15px;
            margin-top: 15px;
            width: 20%;
            border-right: 1px solid #dee2e6;
            text-align: left;
            #filter-collapse {
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                align-items: baseline;
            }
        }
    }
    #tech-tip-content {
        margin-left: 20%;
        padding-left: 10px;
        padding-top: 10px;
    }
}




/*
*    Administration and Installer Styles
*/

.admin-list {
    li {
        list-style: none;
    }
}
