@import 'template_files/style';
@import 'toggle';
@import 'fileDrag';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vue-good-table/dist/vue-good-table.css';
@import '~vue-phone-number-input/dist/vue-phone-number-input.css';
@import '~vue-multiselect/dist/vue-multiselect.min.css';
@import '~vue-select/src/scss/vue-select.scss';
@import 'custom';

$fa-font-path: '../fonts/font-awesome';

/*
*   General
*/
.pointer {
    cursor: pointer;
}

.form-control {
    &.loading {
        background-color: #ffffff;
        background-image: url("/img/spinning_loading.gif");
        background-size: 25px 25px;
        background-position:right center;
        background-repeat: no-repeat;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}

/*
*   Bookmarks
*/
.bookmark-unchecked {
    color: #C4C4C4;
    @extend .pointer;
}

.bookmark-checked {
    color: #D46E70;
    @extend .pointer;
}

/*
*   Customer Notes
*/
.customer-note-card {
    .card {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .card-header {
            @extend .pointer;
        }
        .card-body {
            max-height: 50px;
        }
        .card-footer {
            display: none;
        }
    }
}

.bigger-note {
    height: 60vh;
    overflow-y: auto;
}

/*
*   Tech Tips
*/
.tip-link {
    a:hover {
        text-decoration: none;
    }
    .tip-preview {
        max-height: 100px;
        overflow: hidden;
        img {
            display: none;
        }
    }
}

.filter-wrapper {
    .col-form-label {
        font-weight: bold;
    }
}

.tip-details {
    a, span:not(.badge) {
        padding: 0 5px;
        border-right: 1px solid #999999;
        color: #999999;
        display: inline-block;
        &:last-child {
            border-right: none;
        }
        span {
            display: inline-block;
        }
    }
}

.tip-equipment {
    color: #999999;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 4px 0;
    span {
        padding: 3px 5px;
    }
}

.tip-description {
    min-height: 25vh;
}

/*
*   Dashboard
*/
.notification-wrapper {
    height: 40vh;
    overflow-y: auto;
    .notification-message {
        &.unread {
            font-weight: bold !important;
        }
    }
}

.bookmark-card {
    background: #668cff;
    border: none;

    -webkit-box-shadow: 5px 5px #bceef6;
       -moz-box-shadow: 5px 5px #bceef6;
            box-shadow: 5px 5px #bceef6;
    .card-body {
        .card-body-icon {
            position: absolute;
            z-index: 0;
            top: -25px;
            right: -25px;
            font-size: 5rem;
            -webkit-transform: rotate(15deg);
                -ms-transform: rotate(15deg);
                    transform: rotate(15deg);
        }
    }
}

/*
*   File Links
*/
#link_expire__value_ {
    line-height: 1rem;
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
*   Log Viewer
*/


        /*
         * Colors: Badge & Infobox
         */

.badge.badge-env,
.badge.badge-level-all,
.badge.badge-level-emergency,
.badge.badge-level-alert,
.badge.badge-level-critical,
.badge.badge-level-error,
.badge.badge-level-warning,
.badge.badge-level-notice,
.badge.badge-level-info,
.badge.badge-level-debug,
.badge.empty {
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.badge.badge-level-all,
.box.level-all {
    background-color: #8A8A8A; // {{ log_styler()->color('all') }};
}

.badge.badge-level-emergency,
.box.level-emergency {
    background-color: #B71C1C; //  {{ log_styler()->color('emergency') }};
}

.badge.badge-level-alert,
.box.level-alert  {
    background-color: #D32F2F; //  {{ log_styler()->color('alert') }};
}

.badge.badge-level-critical,
.box.level-critical {
    background-color: #F44336; //  {{ log_styler()->color('critical') }};
}

.badge.badge-level-error,
.box.level-error {
    background-color: #FF5722; //  {{ log_styler()->color('error') }};
}

.badge.badge-level-warning,
.box.level-warning {
    background-color: #FF9100; //  {{ log_styler()->color('warning') }};
}

.badge.badge-level-notice,
.box.level-notice {
    background-color: #4CAF50; //  {{ log_styler()->color('notice') }};
}

.badge.badge-level-info,
.box.level-info {
    background-color: #1976D2; //  {{ log_styler()->color('info') }};
}

.badge.badge-level-debug,
.box.level-debug {
    background-color: #90CAF9; //  {{ log_styler()->color('debug') }};
}

.badge.empty,
.box.empty {
    background-color: #D1D1D1; //  {{ log_styler()->color('empty') }};
}

.badge.badge-env {
    background-color: #6A1B9A;
}


        /*
         * Boxes
         */

.box {
    display: block;
    padding: 0;
    min-height: 70px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: .25rem;

    > .box-icon> i {
        color: #FFF;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        border-radius: 2px 0 0 2px;
        display: block;
        float: left;
        height: 70px; width: 70px;
        text-align: center;
        font-size: 40px;
        line-height: 70px;
        background: rgba(0,0,0,0.2);
        .box-content {
            padding: 5px 10px;
             margin-left: 70px;
            .box-text, .box-number {
                color: #FFF;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
            }
            .box-text {
                display: block;
                font-size: 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
            }
            .box-number {
                display: block;
            }
            .progress {
                background: rgba(0,0,0,0.2);
                margin: 5px -10px 5px -10px;
                .progress-bar {
                    background-color: #FFF;
                }
            }
        }
    }

}








        // /*
        //  * Log Menu
        //  */

        // .log-menu .list-group-item.disabled {
        //     cursor: not-allowed;
        // }

        // .log-menu .list-group-item.disabled .level-name {
        //     color: #D1D1D1;
        // }

        // /*
        //  * Log Entry
        //  */

        // .stack-content {
        //     color: #AE0E0E;
        //     font-family: consolas, Menlo, Courier, monospace;
        //     white-space: pre-line;
        //     font-size: .8rem;
        // }

        // /*
        //  * Colors: Badge & Infobox
        //  */

        // .badge.badge-env,
        // .badge.badge-level-all,
        // .badge.badge-level-emergency,
        // .badge.badge-level-alert,
        // .badge.badge-level-critical,
        // .badge.badge-level-error,
        // .badge.badge-level-warning,
        // .badge.badge-level-notice,
        // .badge.badge-level-info,
        // .badge.badge-level-debug,
        // .badge.empty {
        //     color: #FFF;
        //     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        // }

        // .badge.badge-level-all,
        // .box.level-all {
        //     background-color: {{ log_styler()->color('all') }};
        // }

        // .badge.badge-level-emergency,
        // .box.level-emergency {
        //     background-color: {{ log_styler()->color('emergency') }};
        // }

        // .badge.badge-level-alert,
        // .box.level-alert  {
        //     background-color: {{ log_styler()->color('alert') }};
        // }

        // .badge.badge-level-critical,
        // .box.level-critical {
        //     background-color: {{ log_styler()->color('critical') }};
        // }

        // .badge.badge-level-error,
        // .box.level-error {
        //     background-color: {{ log_styler()->color('error') }};
        // }

        // .badge.badge-level-warning,
        // .box.level-warning {
        //     background-color: {{ log_styler()->color('warning') }};
        // }

        // .badge.badge-level-notice,
        // .box.level-notice {
        //     background-color: {{ log_styler()->color('notice') }};
        // }

        // .badge.badge-level-info,
        // .box.level-info {
        //     background-color: {{ log_styler()->color('info') }};
        // }

        // .badge.badge-level-debug,
        // .box.level-debug {
        //     background-color: {{ log_styler()->color('debug') }};
        // }

        // .badge.empty,
        // .box.empty {
        //     background-color: {{ log_styler()->color('empty') }};
        // }

        // .badge.badge-env {
        //     background-color: #6A1B9A;
        // }
