/*
*   Reset all styles to my liking
*/
@import 'Layouts/reset';

/*
*   Bootstrap and add-ons for Bootstrap
*/
@import 'bootstrap';

/*
*   Override Bootstrap's default breakpoints
*/
$grid-breakpoints: (
    xs: 0,                  //  Default 0
    sm: 600px,              //  Default 576
    md: 1000px,             //  Default 768
    lg: 1200px,             //  Default 992
    xl: 1280px,             //  Default 1200
    xxl: 1400px,            //  Default 1400
);

$brk-xs: map-get($grid-breakpoints, xs);
$brk-sm: map-get($grid-breakpoints, sm);
$brk-md: map-get($grid-breakpoints, md);
$brk-lg: map-get($grid-breakpoints, lg);
$brk-xl: map-get($grid-breakpoints, xl);
$brk-xxl: map-get($grid-breakpoints, xxl);

/*
*   Custom styles used throughout app
*/
.center {
    margin-left: auto;
    margin-right: auto;
}

.pointer {
    cursor: pointer !important;
}

.nope {
    cursor: not-allowed !important;
}

.btn-pill {
    border-radius: 25px !important;
}
