/*
*   Reset all styles to my liking
*/
@import 'Layouts/reset';

/*
*   Bootstrap and add-ons for Bootstrap
*/
@import 'bootstrap';

/*
*   Override Bootstrap's default breakpoints
*/
$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 1000px,
    lg: 1200px,
    xl: 1280px
);

$brk-xs: map-get($grid-breakpoints, xs);
$brk-sm: map-get($grid-breakpoints, sm);
$brk-md: map-get($grid-breakpoints, md);
$brk-lg: map-get($grid-breakpoints, lg);
$brk-xl: map-get($grid-breakpoints, xl);

/*
*   Custom styles used throughout app
*/
.center {
    margin-left: auto;
    margin-right: auto;
}

.pointer {
    cursor: pointer !important;
}

.nope {
    cursor: not-allowed !important;
}
