/**
*   All styles for the Dropzone File Upload Box
**/
.dropzone {
    background-color: rgb(158, 219, 247, 0.25);
    border: 1px dashed rgb(168, 164, 164, 0.75);
    border-radius: 15px;
    min-height: 200px;
    z-index: 0;
    &:hover {
        background-color: rgba(57, 187, 247, 0.25);
    }
    &.dz-clickable {
        cursor: pointer;
    }

    /**
    *   Message for drag and drop
    **/
    .dz-message {
        margin: 5em auto;
        text-align: center;
    }
    //  Move drag & drop message to top when a file is added to save room
    &.dz-started {
        .dz-message {
            margin: 5px auto;
        }
    }
    //  Remove drag & drop message when no more files can be added
    &.dz-max-files-reached {
        .dz-message {
            display: none;
        }
    }

    /**
    *   Image Preview Panel
    **/
    .dz-preview-wrapper {
        .dz-preview {
            border-radius: 20px;
            cursor: default;
            display: inline-block;
            margin: 16px;
            min-height: 100px;
            position: relative;
            vertical-align: top;
            &:hover {
                z-index: 1;
                .dz-details {
                    opacity: 1;
                }
                .dz-image {
                    filter: blur(2px);
                }
            }
            /**
            *   File Preview
            **/
            &.dz-file-preview {
                background: #999;
                background: linear-gradient(to bottom, #eee, #cac9c9);
                border-radius: 20px;
            }
            /**
            *   Image Preview
            **/
            .dz-image {
                transition: opacity 0.2s linear;
                img {
                    background-color: #ffffff;
                    border-radius: 20px;
                    max-width: 100%;
                }
            }

            /**
            *   Details/file information pane
            **/
            .dz-details {
                color: #000000e6;
                font-size: 13px;
                line-height: 150%;
                opacity: 0;
                padding: 1em;
                max-width: 100%;
                min-width: 100%;
                max-height: 100%;
                min-height: 100%;
                text-align: center;
                z-index: 10;

                position: absolute;
                left: 0;
                top: 0;

                .dz-size,
                .dz-filename {
                    background-color: #fdfdfd66;
                    border-radius: 3px;
                    overflow: hidden;
                    padding: 0 0.4em;
                    text-overflow: ellipsis;
                }
            }

            /**
            *   Remove File Link
            **/
            .dz-remove {
                background-color: #ff0000;
                border: 1px solid #ff0000;
                border-radius: 50%;
                color: #ffffff;
                cursor: pointer;
                display: inline-table;
                font-size: 0.8em;
                height: 20px;
                text-align: center;
                vertical-align: middle;
                width: 20px;
                z-index: 100;

                position: absolute;
                right: -5px;
                top: -10px;
            }
        }

        /**
        *    Error Icon & Message
        **/
        &.dz-error {
            .dz-error-mark {
                animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
                color: #ff0000;
                cursor: pointer;
                display: inline-table;
                font-size: 1.5em;
                height: auto;
                opacity: 1;
                width: auto;

                position: absolute;
                left: 20px;
                top: -15px;
            }

            .dz-preview:hover .dz-error-message {
                background-color: red;
                border-radius: 6px;
                color: #ffffff;
                display: block;
                height: 100%;
                margin: 5px;
                padding: 5px;
                text-align: center;
                width: 110px;
                z-index: 100;

                position: relative;
                bottom: -25px;
                left: 0;

                &::after {
                    border-color: transparent transparent #fc0202 transparent;
                    border-style: solid;
                    border-width: 5px;
                    content: " ";
                    margin-left: -5px;

                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                }
            }
        }

        /**
        *   Success Icon
        **/
        &.dz-success .dz-success-mark {
            color: #008000;
            cursor: pointer;
            display: inline-table;
            font-size: 1.5em;
            height: auto;
            opacity: 1;
            width: auto;
            z-index: 100;

            position: absolute;
            left: 20px;
            top: -15px;
        }

        /**
        *   Progress Bar
        **/
        .dz-progress {
            display: none;
            z-index: 150;
        }

        &.dz-processing .dz-progress {
            display: block;
            border-radius: 10px;
            opacity: 1;
            overflow: hidden;
            width: 100%;

            position: absolute;
            top: 50%;
            left: 0;

            .dz-upload {
                display: block;
                height: 100%;
                width: 0;
                background-color: #3c57f0;
                border-top-left-radius: inherit;
                border-bottom-left-radius: inherit;
            }
        }
    }
}

/**
*   Dropzone specific Tooltips
**/
.dz-tooltip {
    display: inline-block;
    position: relative;
    .dz-tooltip-text {
        background-color: #fc0202;
        border-radius: 6px;
        color: #fff;
        margin-bottom: 5px;
        margin-left: -60px;
        padding: 5px 0;
        text-align: center;
        visibility: hidden;
        width: 120px;
        z-index: 1;

        position: absolute;
        left: 50%;
        bottom: 100%;

        &::after {
            border-color: #fc0202 transparent transparent transparent;
            border-style: solid;
            border-width: 5px;
            content: " ";
            margin-left: -5px;

            position: absolute;
            top: 100%;
            left: 50%;
        }
    }

    &:hover {
        .dz-tooltip-text {
            visibility: visible;
        }
    }
}

span.img-attribute a {
    color: #000000;
    font-size: xx-small;

    position: absolute;
    bottom: 0;
    left: 0;
}
