.custom-file-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;

    // &.icon-pcp {
    //     background-image: url('../images/AppMgr.png');
    // }

    // &.icon-pcpx {
    //     background-image: url('../images/AppMgr.png');
    //     border: 1px solid red;
    // }
}