@import url("elements/buttons.css");
@import url("elements/text.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    min-height: 100vh;
}

.pointer {
    cursor: pointer;
}

.reasonable-width {
    @apply w-full md:w-1/2 xl:w-1/4;
}

/*
|---------------------------------------------------------------------------
| Overrides of built in styles
|---------------------------------------------------------------------------
*/
.v-data-table__th {
    font-weight: bold !important;
}

.v-data-table__th--sortable {
    .v-data-table-header__content {
        display: block !important;
        width: 100% !important;
        .v-data-table-header__sort-icon {
            float: right;
        }
    }
}
