@import url("elements/buttons.css");
@import url("elements/text.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    min-height: 100vh;
}

.pointer {
    cursor: pointer;
}

/*
|---------------------------------------------------------------------------
| Overrides of built in styles
|---------------------------------------------------------------------------
*/
.v-data-table__th {
    font-weight: bold !important;
}
