.fiv-extended-pcp {
    background-image: url('../img/icon_extended_library/pcp.ico');
}

.fiv-extended-pcpx {
    background-image: url('../img/icon_extended_library/pcpx.ico');
}

.fiv-extended-pcpx2 {
    background-image: url('../img/icon_extended_library/pcpx2.ico');
}
