// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$headerBackground: linear-gradient(#736D6D, #222);

//  Standard classes
.center {
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}

.pad-bottom {
    margin-bottom: 20px;
}

.pad-top {
    margin-top: 20px;
}

.buffer-top {
    padding-top: 20px;
}

.buffer-bottom {
    padding-bottom: 20px;
}

.loadingModal {
    width: 20%;
    display: block;
    @extend .center;
}

.pointer {
    cursor: pointer;
}
