/**
*   Layout is used for all internal authenticated pages
*/
@import "../global_variables";

/*
*   Theme Style Variables
*/
$default-font-size: 0.875rem;
$soft-border: 1px solid #00000026;
$header-height: 70px;
$header-background: #ffffff;
$navbar-width: 237px;
$navbar-background: $header-background;
$navbar-link-color: #5f5f5f;
$content-background: #dddce1;
$footer-background: $content-background;

body #app-layout {
    /**
    * Top Header
    */
    .top-navbar {
        background-color: $header-background;
        height: $header-height;
        margin: 0;
        padding: 0;
        width: 100%;
        border-bottom: $soft-border;
        .navbar-logo-wrapper {
            height: 100%;
            @media (min-width: $brk-md) {
                width: $navbar-width;
            }
            .navbar-logo {
                margin: auto;
                img {
                    max-height: $header-height - 20;
                }
            }
        }
        .navbar-data {
            font-size: 1.2rem;
            margin-right: 10px;
            padding-right: 5px;
            .nav {
                .nav-item {
                    margin-right: 5px;
                    margin-left: 4px;
                }
            }
        }
    }

    /**
    * Hide navbar toggler on large screens
    */
    .navbar-toggler {
        display: flex;
        @media (min-width: $brk-lg) {
            display: none;
        }
    }

    /**
    * Primary Content Section (including side nav)
    */
    #app-wrapper {
        position: absolute;
        top: $header-height;
        padding: 0;
        margin: 0;
        min-height: calc(100vh - #{$header-height});
        height: calc(100% - #{$header-height});

        /**
        * Side Navbar
        */
        #side-nav {
            background-color: $navbar-background;
            height: 100%;
            position: fixed;
            right: -$navbar-width;
            transition: all 0.25s ease-out;
            width: $navbar-width;
            z-index: 500;

            /**
            * Always active on large screens
            */
            @media (min-width: $brk-lg) {
                border-right: $soft-border;
                left: 0;
            }

            /**
            * When active on small screens
            */
            &.active {
                border-left: $soft-border;
                right: 0;
            }

            /**
            * Navbar Content
            */
            .nav {
                margin-left: 0.375rem;
                margin-right: 0.375rem;
                margin-top: 1.45rem;
                .nav-item {
                    .nav-link {
                        align-items: center;
                        color: $navbar-link-color;
                        white-space: nowrap;
                        .menu-title {
                            margin-left: 4px;
                        }
                    }
                }
            }
        }

        /**
        * Primary Content Slot
        */
        #content-wrapper {
            background-color: $content-background;
            height: 100%;
            padding: 0.5rem;
            /**
            * Move to allow room for navbar
            */
            @media (min-width: $brk-lg) {
                width: calc(100% - #{$navbar-width});
                left: $navbar-width;
                padding: 1rem;
                position: fixed;
            }
        }
    }
}
