/**
*   Layout is used for all internal authenticated pages
*/
@import "../global_variables";

/*
*   Theme Style Variables
*/
$default-font-size: 0.875rem;
$soft-border: 1px solid #00000026;
$header-height: 70px;
$header-background: #ffffff;
$content-background: #dddce1;
$footer-height: 55px;
$footer-background: $content-background;

body #kb-layout-wrapper {
    padding: 0;
    margin: 0;
    min-height: 100%;

    /**
    * Top Header
    */
    .navbar {
        background-color: $header-background;
        height: $header-height;
        margin: 0;
        padding: 0;
        .navbar-brand {
            img {
                max-height: $header-height - 20;
            }
        }       
    }

    /**
    * Primary Content Section 
    */
    #kb-wrapper {
        position: absolute;
        top: $header-height;
        padding: 0;
        margin: 0;
        min-height: calc(100vh - #{$header-height});
        height: calc(100% - #{$header-height});
        width: 100%;

        /**
        * Primary Content Slot
        */
        #content-wrapper {
            background-color: $content-background;
            min-height: calc(100% - #{$footer-height});
            padding: 2rem;
            width: 100%;
        }

        /**
        * Footer
        */
        #app-footer {
            background-color: $footer-background;
            border-top: $soft-border;
            height: $footer-height;
            padding: 10px;
        }
    }
}
